name: linter
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: ${{ github.repository == 'mixxxdj/demucs' || github.event_name == 'workflow_dispatch' }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: 3.13

      with:
        path: env
        key: tests-${{ hashFiles('**/requirements.txt') }}

    - name: Install dependencies
      run: |
        python3 -m venv env
        . env/bin/activate
        python -m pip install --upgrade pip
        pip install '.[dev]'


    - name: Run linter
      run: |
        . env/bin/activate
        make linter
